<%- include('partials/header') %>

<script>
function validate() {
  if (document.frm_salableitems.txtusername.value === '') {
    alert('User Name should not be empty');
    document.frm_salableitems.txtusername.focus();
    return false;
  }
  if (document.frm_salableitems.txtpwd.value === '') {
    alert('Password should not be empty');
    document.frm_salableitems.txtpwd.focus();
    return false;
  }
  document.frm_salableitems.validate1.value = 'T';
  document.frm_salableitems.method = 'post';
  document.frm_salableitems.action = '/bmdlogin.asp';
  document.frm_salableitems.submit();
}
</script>

<!------ About Banner ------->
<section id="banner-section">
  <div class="container-fluid">
    <div class="row">
      <div class="banner-placeholder text-center">
        <h2>BMD Calculator Login</h2>
      </div>
    </div>
  </div>
</section>

<!------ Login Form ------->
<section id="about-cont">
  <div class="container">
    <div class="row">
      <form name="frm_salableitems" method="post" action="/bmdlogin.asp">
        <input type="hidden" name="validate1" value="">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <h2 class="aboutpage-title">&nbsp;</h2>
          <% if (msg) { %>
            <h4><font color="red"><%= msg %></font></h4>
          <% } %>
          <div class="aboutpage-content">
            <div class="form-group inner-tittle">
              <label class="inner-tittle">User Name <span class="red-star">*</span></label>
              <input type="text" class="form-control" id="txtusername" placeholder="User Name" name="txtusername" maxlength="50">
            </div>
            <div class="form-group inner-tittle">
              <label class="inner-tittle">Password <span class="red-star">*</span></label>
              <input type="password" class="form-control" id="txtpwd" placeholder="Password" name="txtpwd" maxlength="25">
            </div>
            <button type="button" name="btn_enq" id="btn_enq" class="btn btn-warning submit-form" onclick="validate()">Submit</button>
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <div class="aboutpage-content" style="padding-top:60px; text-align:center; color:#555;">
            <p><em>Bone Mineral Density (BMD) Calculator</em><br>
            Please log in with your credentials to access the BMD Calculator tool.</p>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<%- include('partials/footer') %>
