<%- include('partials/header') %>

<!------ About Banner ------->
<section id="banner-section">
  <div class="container-fluid">
    <div class="row">
      <div class="banner-placeholder text-center">
        <h2>Contact Us</h2>
      </div>
    </div>
  </div>
</section>

<!------ About Content ------->
<section id="about-cont">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2 class="aboutpage-title">Contact Us</h2>
        <div class="aboutpage-content">
          <div align="Center">
            <h1> This page is under construction !!! <br>
            Will be available soon....</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('partials/footer') %>
