<%- include('partials/header') %>

<!------ About Banner ------->
<section id="banner-section">
  <div class="container-fluid">
    <div class="row">
      <div class="banner-placeholder text-center">
        <h2>About Your Health</h2>
      </div>
    </div>
  </div>
</section>

<!------ About Content ------->
<section id="about-cont">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="page-illus-wrap">
          <img src="/images/health-banner.jpg" alt="Health wellness illustration" class="page-illus">
        </div>
        <h2 class="aboutpage-title">Health</h2>
        <div class="aboutpage-content">
          Health may be defined as a "complete/balanced condition" in which there is synchronization between body and mind. Cells are the fundamental units of the body. Cells with similar functions are grouped to form tissues like epithelial, connective, muscular and nervous tissues. Different tissues together form organs and organs forming organ systems meant for various physiological functions like circulation, respiration, digestion etc. Thus, a living being represented as "body" is made up of different levels of frameworks i.e. from cells to organ systems in order to perform complex functions. <br><br>

          The interactions within the different systems and also with the environment lead to structural and functional "expressions" from time-to-time; the control mechanism of which is poorly understood. It is generally accepted that a "biological clock" within the organisms control the timely events; however the location of the biological clock could not be ascertained. Whether it is present at individual cellular level or at higher levels is a mystery. More complexly, structural and functional expressions of the systems lead to "mind" which is loaded with thoughts and actions for the expressions exhibited by the "body".<br><br>

          When the fine balance within the organ systems of the "body" is disturbed, it eventually disturbs the balance between the "body" and "mind" and the net results are the individual diseases or syndromes.
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="pull-right">
          <a href="#top" id="back-to-top" class="gotop">Go to top&nbsp;&nbsp;&uarr;</a>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('partials/footer') %>
