<%- include('partials/header') %>

<!------ About Banner ------->
<section id="banner-section">
  <div class="container-fluid">
    <div class="row">
      <div class="banner-placeholder text-center">
        <h2>Menopause</h2>
      </div>
    </div>
  </div>
</section>

<!------ About Content ------->
<section id="about-cont">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2 class="aboutpage-title">Menopause</h2>
        <div class="aboutpage-content">
          Why to predict menopause? <br> <br>

          The cessation of reproductive life span in the women is called menopause and prediction of menopause will help to plan for reproductive potentiality in infertility treatment and planning for premenopausal and post-menopausal related health effects. <br> <br>

          What is the basis of prediction? <br> <br>
          Unlike men, women are born with finite number of follicles (germ cells) and the total number of follicles in the ovary is called ovarian reserve. It is the ovarian reserve rather than the age which predict menopause. Antimullerian hormone (AMH) has been assessed in fertility clinics for the diagnosis of ovarian reserve in polycystic ovary syndrome and for IVF outcome. It value declined with age and is found to be 0.2 at menopause. Here, a mathematical model has been developed to predict the age of menopause onset using values of two biomarkers viz. anti mullerian hormone (AMH) and Follicle Stimulating Hormone (FSH) on day three of the menstruation cycle in a women.
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="pull-right">
          <a href="#top" id="back-to-top" class="gotop">Go to top&nbsp;&nbsp;&uarr;</a>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('partials/footer') %>
