<%- include('partials/header') %>

<!------ About Banner ------->
<section id="banner-section">
  <div class="container-fluid">
    <div class="row">
      <div class="banner-placeholder text-center">
        <h2>Pregnancy</h2>
      </div>
    </div>
  </div>
</section>

<!------ About Content ------->
<section id="about-cont">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="page-illus-wrap">
          <img src="/images/pregnancy-banner.jpg" alt="Pregnancy wellness illustration" class="page-illus">
        </div>
        <h2 class="aboutpage-title">Pregnancy</h2>
        <div class="aboutpage-content">
          Apart from carrying out the basic functions such as breathing, eating, sleeping etc, all organisms in this universe have to fulfill the important duty of reproduction. While other animals carry out this nature's obligation at free will, reproduction in man is associated with profound psychological effects and social impact. Reproduction in human is also influenced by non-biological factors from various sides like environment, society, education and economic status. Therefore, women in reproductive age should be aware of facts related to pregnancy, labour process, neonatal care, and also to the return of pre-pregnancy physiological status which is called as puerperium.
          <br><br>
          Child bearing is a major event in women life and the period of gestation is divided into three trimesters. The first trimester is from first week to 12th week after conception. The second trimester is from week 13 through 28 weeks. The third trimester is from 29 week through 40 weeks. During this period the metabolism of the mother is increased in response to growth of fetus and placenta. Usually 10-14 kg increase in body weight happen during pregnancy. Monitoring maternal weight gain or loss can give valuable information about the wellbeing of the fetus and therefore should routinely checked. Calcium, protein, iron and other nutrients supplementation is needed due to the demand raised by rapidly growing fetus.
          <br><br>
          It may be relevant to state that some conditions are secondary to the pregnancy and some others occur during pregnancy. Thus it is desirable for one to be aware of "disorders (caused) by pregnancy" and "diseases that can affect during pregnancy".
          <br><br>
          Disorders (caused) by pregnancy are hyperemesis gravidaum, hypertensive disorders, rhesus (Rh) incompatibility, and genital tract bleeding in late pregnancy, placenta praevia, polyhydramnios, oligohydramnios and obstetric cholestasis.
          <br><br>
          Diseases that can happen during pregnancy are asymptomatic or symptomatic infection of urinary tract, acute renal failure, chronic renal diseases, anemia due to iron deficiency and folic acid, hemorrhagic anemia, hemolytic anemia, hyperthyroidism, hypothyroidism, prolactinemia , hypopituitaristism and gestational diabetes.
          <br><br>
          Bleeding from genital tract can be named differently based on its nature and time of appearance. It is called as antepartum hemorrhage when occurring after week 24 of pregnancy but before labour. Bleeding that occurs (excess of 500 ml) following labour or within 24 hrs after child birth is primary partum hemorrhage whereas the one that occurs after 24 hrs is secondary partum hemorrhage. Antepartum hemorrhage can due to miscarriage or abortion (threatened miscarriage). Both maternal and fetal causes can lead to such threatened miscarriage. Delivery of fetus before 37 weeks is preterm labour and mal position / mal presentation of fetus in the uterus may necessitate caessarian, the surgical means of delivery.
          <br><br>
          Thus, the pregnancy is associated with many physiological alterations and potential pathologies. Returning to the pre-pregnant status is puerperium and different organ systems may take different duration to return to this status and they can range from few hours to several weeks after delivery. Women may feel weepy and depressed after delivery. Puerperium may be affected by several factors like partum pyrexia, anemia and inadequate sleep.
          <br><br>
          <b>A newborn needs to be closely monitored and observations on simple parameters like breathing rate, pattern, cry, skin pallor etc can be very useful to knowing something going wrong in the baby. Breast feeding of newborn is an important step as it not only promotes mother-infant bonding but also imparts immunity to the baby. Neonatal jaundice may happen in certain babies which needs prompt intervention. A breast feeding mother should also take control of the contraception. With several contraceptive methods available, the choice and practice of a method should be decided based on doctors' advice. </b>
          <br><br>
          <b><u>BMD calculator write up</u></b>
          <br><br>
          Even though various principle are available to measure bone density, the recent interim report from WHO task force for osteoporosis recommends determination of BMD for diagnosing fracture risks and osteoporotic related facture risks using DXA scan and it is the current gold standard for the determination of BMD as other methods have radiation hazards and inaccuracy.
          According to basic engineering principle, size and shape determine the strength of an object. In an alternative approach from anthropometric factors like age, height, and weight and geometric factors like hip axis length (HAL), neck shape angle (NSA) and neck width (NW) a method for determining bone mineral density is formulated here. Age, height, and weight are the general profile of the patients. HAL, NSA and NW are the geometric factors of the upper end of femoral region measured from digital x-ray. HAL is defined as the distance from the centre of the head of the femur to the base of the greater trochanter. NSA is defined as the angle between the axis of the head and neck with the axis of shaft of the femur. NW is the shortest length of the neck of the femur. The novel method and apparatus attached to the digital X-ray computes the BMD from the input values through the ARM micro controller and outputs the said computed BMD in the digital output.
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="pull-right">
          <a href="#top" id="back-to-top" class="gotop">Go to top&nbsp;&nbsp;&uarr;</a>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('partials/footer') %>
